{% extends 'base.html' %}

{% load static %}

{% block content %}
    <ul class="tabs">
        <li class="tab selected" id="1">Пользователи</li>
        <li class="tab" id="2">Подписки</li>
    </ul>
    <div class="people_grid wrap">
        {% for user in users %}
            <div class="user_information">
                <a href="{{ user.get_absolute_url }}">
                    <h4>{{ user.username }}</h4>
                    <img src="{{ user.profile.photo.url }}" style="max-width: 180px; max-height: 180px;">
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="wrap unactive">
        <ul class="actions">
            {% for action in actions %}
                <li class="action">
                    {{ action.created }} |
                    <a href="{{ action.user.get_absolute_url }}">{{ action.user }}</a>
                     {{ action.verb }}
                    <a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script src="{% static 'js/people.js' %}"></script>
{% endblock %}