{% if errors %}
    <div>
    <ul class="error_list">
    </ul>
    <script>
    document.addEventListener("DOMContentLoaded", () => {
        var error_list = document.createElement("ul");
        error_list.classList.add("error_list");
        {% for error in errors %}
            var error = document.createElement("li")
            error.innerText = "{{ error }}"
            error_list.appendChild(error)
        {% endfor %}
        document.querySelector('.reset_password_form').prepend(error_list);

        var header = document.querySelector('.errorlist_header');
        if(header === null){
            header = document.createElement("p");
            header.classList.add("errorlist_header");
            header.innerText = "Не удалось установить новый пароль"
            document.querySelector('.reset_password_form').prepend(header);
        }
    })
    </script>
    </div>
{% endif %}